html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  align-items: center;
  color: #5349db;
  display: flex;
  justify-content: space-around;
  padding: 36px 0px;
  width: 100%;
}

.search-bar {
  width: 352px;
}

.icons {
  display: flex;
}

.icons__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 29px;
}

.icons__item:last-child {
  margin-right: 0;
}

.icons__item p {
  margin: 0;
  font-size: 11px;
  font-weight: 300;
}

.menu {
  background-color: #5349db;
  width: 100%;
  height: 49px;
  font-size: 14px;
  font-weight: 500;
}

.menu__options {
  margin-left: 86px;
  margin-right: 200px;
}
